<header class="main-header" {% if site.cover %} style="background-image: url(/assets/img/{{ site.cover }})"{% else %} no-cover {% endif %}>
    <nav class="main-nav overlay clearfix">
        <a class="menu-button icon-show" href="#"><span class="word">HOLA<i class="fa fa-angle-down"></i></span></a>
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav> 

    <div class="vertical">
        <div class="main-header-content inner">
            <div class="centro">
                <div id="logo">
                  <a href="{{ site.url }}" >
                    <div class="logo hovery"></div>            
                  </a> 
                </div>

                <div class="banner">
                    <h1 class="page-title">{{ site.title }}</a></h1>
                    <h1 class="page-description">{{ site.description }}</a></h1>
                </div>
            </div> 
        </div>    
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
